<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/basic::setContent(~{this::content})}">
    <th:block th:fragment="content">
        <h1>상품상세페이지</h1>
        <input type="hidden" id="itemId" th:value="${itemDTO.id}"/>
        <div class="d-flex">
            <div class="repImgDiv">
                <img th:src="${itemDTO.itemImgDTOList[0].imgUrl}"
                     class="reounde repImg"/>
            </div>
            <div class="wh50">
                <div>판매중</div>
                <div>
                    <!--가격표시-->
                    <div class="h4 text-danger text-left">
                        <input type="hidden" th:value="${itemDTO.price}" id="price"
                               name="price" />
                        <span th:text="${itemDTO.price}"></span>원
                    </div>
                    <!--수량표시-->
                    <div class="intpu-group w-50">
                        <div>수량</div>
                        <input type="number" name="count" id="count"
                               class="form-control" value="1" min="1"/>
                    </div>
                    <!--결제금액표시-->
                    <div class="text-right mgt-50">
                        <h5>결제금액</h5>
                        <h3 name="totalPrice" id="totalPrice" class="forn-weight-bold"></h3>
                    </div>
                    <!--주문,장바구니버튼-->
                    <div th:if="${itemDTO.itemSellStatus==T(org.green.shop.constant.ItemSellStatus).SELL}"
                         class="text-right">
                       <!-- 로그인안했을경우-->
                        <th:block sec:authorize="isAnonymous()">
                        <button type="button" onclick="login()" class="btn btn-light border border-primary btn-lg">
                            장바구니담기</button>
                        <button type="button" onclick="login()" class="btn btn-primary btn-lg">주문하기</button>
                        </th:block>
                        <!-- 로그인했을경우-->
                        <th:block sec:authorize="isAuthenticated()">
                            <button onclick="cart()" type="button"  class="btn btn-light border border-primary btn-lg">
                                장바구니담기</button>
                            <button type="button" onclick="order()" class="btn btn-primary btn-lg">주문하기</button>
                        </th:block>
                    </div>
                    <div th:unless="${itemDTO.itemSellStatus==T(org.green.shop.constant.ItemSellStatus).SELL}"
                         class="text-right">
                        품절입니다.
                    </div>
                </div>
            </div>
        </div>
       <!-- 상품상세설명-->
        <div class="jumbotron jumbotron-fluid mgt-30">
            <div class="container">
                <h4>상품상세 설명</h4>
                <p class="lead" th:text="${itemDTO.itemDetail}"></p>
            </div>
        </div>
        <!--이미지들-->
        <div th:each="itemImg:${itemDTO.itemImgDTOList}" class="text-center">
            <img th:if="${not #strings.isEmpty(itemImg.imgUrl)}" th:src="${itemImg.imgUrl}"
                 class="reounded mbg-15" width="1000"/>
        </div>
    </th:block>
</th:block>
<script>
    $(document).ready(function(){
        calculateTotalPrice();
        $("#count").change(function(){
            calculateTotalPrice();
        })
    })
    function calculateTotalPrice(){
        let count = $("#count").val();
        let price = $("#price").val();
        $("#totalPrice").html((count*price)+'원');
    }
    function login(){
        alert("로그인 해주세요");
        location.href = "/member/login";
    }
    function order(){
        let paramData = {
            itemId: $("#itemId").val(),
            count: $("#count").val()
        }
        $.ajax({
            url:"/order",
            type: "post",
            contentType:"application/json",
            data: JSON.stringify(paramData),
            dataType:"json",
            success:function(result){
                alert("주문이 완료되었습니다.");
            },
            error:function(error){
                alert(error.responseText);
            }
        })
    }
    function cart(){
        let paramData = {
            itemId: $("#itemId").val(),
            count: $("#count").val()
        }
        $.ajax({
            url:"/cart",
            type: "post",
            contentType:"application/json",
            data: JSON.stringify(paramData),
            dataType:"json",
            success:function(result){
                alert("상품을 장바구니에 담았습니다.");
            },
            error:function(error){
                alert(error.responseText);
            }
        })
    }

</script>
</html>