<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/basic::setContent(~{this::content})}">
    <th:block th:fragment="content">
        <h1>상세보기페이지</h1>
        <form th:action="@{/admin/item/}" method="post" th:object="${itemDTO}"
              enctype="multipart/form-data" >
            <input type="hidden" th:field="*{id}">
            <div class="form-group">
                <select th:field="*{itemSellStatus}">
                    <option value="SELL">판매중</option>
                    <option value="SOLD_OUT">품절</option>
                </select>
            </div>
            <div class="form-group">
                상품명
                <input type="text" required class="form-control"
                       th:field="*{itemNm}" placeholder="상품명을 입력하세요">
            </div>
            <div class="form-group">
                가격
                <input type="text" required class="form-control"
                       th:field="*{price}" placeholder="상품의 가격을 입력하세요">
            </div>
            <div class="form-group">
                재고수량
                <input type="text" required class="form-control"
                       th:field="*{stockNumber}" placeholder="상품의 재고를 입력하세요">
            </div>
            <div class="form-group">
                상품상세내용
                <textarea class="form-control" th:field="*{itemDetail}"></textarea>
            </div>
            <!--등록된 이미지 인풋출력 -->
            <div class="form-group" th:each="itemImgDto:${itemDTO.itemImgDTOList}">
                <div class="custom-file img-div">
                    <input type="file" name="itemImgFile" class="custom-file-input">
                    <input type="hidden" name="itemImgIds" th:value="${itemImgDto.id}">
                    <label class="custom-file-label" th:text="${itemImgDto.oriImgName}"></label>
                </div>
            </div>
            <!--수정시 추가할 이미지 인풋 출력-->
            <div class="form-group"
                 th:each="num: ${#numbers.sequence(1,5- #lists.size(itemDTO.itemImgDTOList))}">
                <div class="custom-file img-div">
                    상품이미지
                    <input type="file" name="itemImgFile" class="custom-file-input">
                    <input type="hidden" name="itemImgIds">
                    <label class="custom-file-label" th:text="상품이미지+${num}"></label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </th:block>
</th:block>
<script th:inline="javascript">

    $(".custom-file-input").on("change",function(){
        let fileName = $(this).val().split("\\").pop(); //이미지파일명
        $(this).siblings(".custom-file-label").html(fileName);
    })
</script>
</html>