<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div class="header" th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">GreenShop</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/item/list?size=9">상품리스트</a>
                </li>
                <th:block sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/item/new">상품등록</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/itemlist">상품관리</a>
                </li>
                </th:block>
                <th:block sec:authorize="isAuthenticated()">
                <li class="nav-item">
                    <a class="nav-link" href="/cart">장바구니</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/orders">구매이력</a>
                </li>
                </th:block>
                <th:block sec:authorize="isAnonymous()">
                    <li class="nav-item">
                        <a class="nav-link" href="/login_page">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/join_page">회원가입</a>
                    </li>
                </th:block>
                <th:block sec:authorize="isAuthenticated()">
                <li class="nav-item">
                    <a class="nav-link" href="/logout">로그아웃</a>
                </li>
                </th:block>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="/item/list">
                <input class="form-control mr-sm-2" name="size" type="hidden" value="9">
                <input class="form-control mr-sm-2" name="keyword" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>
</html>
