<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/basic::setContent(~{this::content})}">
    <th:block th:fragment="content">
        <h1>회원가입</h1>
        <form action="/member/join" method="post" onsubmit="return valid()">
            <div class="form-group">
                <label for="name">이름</label>
                <input type="text" required class="form-control" id="name"
                       name="name" placeholder="이름을 입력하세요">
            </div>
            <div class="form-group">
                <label for="email">이메일</label>
                <input type="text" required class="form-control" id="email"
                       name="email" placeholder="이메일을 입력하세요">
                <button onclick="emailcheck()" type="button" class="btn btn-primary">이메일중복체크</button>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" required  id="password" name="password" class="form-control"
                       placeholder="패스워드를 입력하세요">
            </div>
            <div class="form-group">
                <label for="address">주소</label>
                <input type="text" required class="form-control" id="address"
                       name="address" placeholder="주소를 입력하세요">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </th:block>
</th:block>
<script>
    //이메일중복체크가 완료되지 않으면 전송안되게하기
    let isChecking = false;
    function valid(){
        if(!isChecking){
            alert("이메일중복체크를 해주세요");
        }
        return isChecking;
    }
    function emailcheck(){
        let email = $("#email").val();
        $.ajax({
            type:"POST",
            url:"/member/emailcheck",
            data:{"email":email},
            dataType:"text"
        })
        .done(function(result){
            if(result=="ok"){
                isChecking=false;
                alert("이메일이 중복되었습니다.");
            }else {
                isChecking=true;
                alert("이메일이 중복되지않습니다.");
            }
        })
    }
</script>
</html>